.polo {
}
.container {
}
.polo-inner {
}
.polo-box {
}
.polo-title-text {
    font-family: Gilroy;
    font-size: 72px;
    font-weight: 600;
    line-height: 85.9px;
    text-align: left;
    

}
.polo-litle {
    font-family: Gilroy;
font-size: 36px;
font-weight: 400;
line-height: 41.76px;
text-align: left;

}
.logo-poloo {
    margin-left: 440px;
    margin-top: -85px;
}
.polo-logos-bottom-tetx {
    font-family: Gilroy;
font-size: 36px;
font-weight: 400;
line-height: 41.76px;
text-align: left;

}